:root {
  /*****
    TODO: Remove magic numbers to allow game board to be more responsive.
    Current values are set so everything is easily divisible by 3.
  */
  --board-height: 633px;
  --board-width: 633px;

  --cell-height: 211px;
  --cell-width: 211px;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#game-board {
  /* border: 1px solid black; */
  height: var(--board-height);
  width: var(--board-width);
}

.board-square {
  border: 1px solid blue;
  box-sizing: border-box;
  display: inline-block;

  height: var(--cell-height);
  width: var(--cell-width);
}

.sq-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10rem;
  height: 100%;
  width: 100%;
}
