/* Import font  */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* Import Bulma CSS */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --board-size: 450px;
  --cell-size: calc(var(--board-size) / 3);
  --mark-size: calc(var(--cell-size) * 0.8);
  --footer-height: 50px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(
    darkgreen 35%,
    green 35%,
    green 65%,
    khaki 65%,
    khaki 75%,
    brown 75%,
    brown 85%,
    black 85%
  );

  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.5rem;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h1,
h2,
h3 {
  font-weight: bold;
}

a {
  color: inherit;
}

a:hover {
  color: white;
}

#welcome-screen {
  height: calc(100vh - var(--footer-height));
  background-color: rgba(0, 0, 0, 0.6);
}

#input-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--footer-height));
  background-color: rgba(0, 0, 0, 0.6);
}

#form-area {
  font-family: inherit;
  background-color: white;
  height: 300px;
  width: 400px;
}

#form-area input {
  font-family: inherit;
  font-size: 0.8rem;
}

#play-btn-area {
  margin-top: 30px;
}

#play-btn {
  font-family: inherit;
}

#title {
  margin-bottom: 0;
  font-size: 3.5rem;
  width: 100vw;
  text-align: center;
}

#player-display {
  margin-bottom: 0;
}

#container {
  display: flex;
  justify-content: center;
  margin: 10px 0 40px 0;
  width: 100vw;
}

#game-board {
  height: var(--board-size);
  width: var(--board-size);
  background-color: rgba(255, 255, 255, 0.2);
}

#board-border {
  height: calc(var(--board-size));
  width: calc(var(--board-size));
  /* border: 4px white solid; */
  box-shadow: 10px 10px 5px 0px rgba(35, 110, 54, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(35, 110, 54, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(35, 110, 54, 0.75);
  border-radius: 3px;
}

#player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 125px;
  padding: 10px 0;
}

#start-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

#start-btn {
  border: none;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  background-color: rgb(231, 230, 230);
  height: 150px;
  width: 300px;
}

#start-btn:hover {
  cursor: pointer;
  background-color: white;
}

#turn-notification {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);
  height: calc(100vh - var(--footer-height));
}

#turn-content {
  height: 200px;
  width: 400px;
  background-color: rgba(0, 100, 0, 0.5);
}

#starting-turn {
  text-align: center;
}

#turn-start-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#turn-start-btn {
  border: none;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  background-color: rgb(231, 230, 230);
  height: 100px;
  width: 250px;
}

#turn-start-btn:hover {
  cursor: pointer;
  background-color: white;
}

#win-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

#win-content {
  height: 200px;
  width: 400px;
  background-color: rgba(0, 100, 0, 0.5);
}

#winning-player {
  text-align: center;
}

#replay-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#replay-btn {
  border: none;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  background-color: rgb(231, 230, 230);
  height: 100px;
  width: 250px;
}

#replay-btn:hover {
  cursor: pointer;
  background-color: white;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  height: var(--footer-height);
  position: relative;
}

#footer-content {
  display: flex;
  justify-content: space-between;

  height: 100%;
  width: 900px;
}

.position-abs {
  position: absolute;
}

.position-rel {
  position: relative;
}

.board-square {
  border: 3px solid rgba(35, 110, 54, 0.5);
  display: inline-block;

  height: var(--cell-size);
  width: var(--cell-size);
}

.board-square:hover {
  cursor: pointer;
}

.board-square:first-child,
.board-square:nth-child(2),
.board-square:nth-child(3) {
  border-top: none;
}

.board-square:first-child,
.board-square:nth-child(4),
.board-square:nth-child(7) {
  border-left: none;
}

.board-square:nth-child(7),
.board-square:nth-child(8),
.board-square:nth-child(9) {
  border-bottom: none;
}

.board-square:nth-child(3),
.board-square:nth-child(6),
.board-square:nth-child(9) {
  border-right: none;
}

.sq-text {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  left: 5px;

  font-size: var(--mark-size);
  line-height: 0;
  height: 100%;
  width: 100%;
}

.invisible {
  display: none !important;
}
