:root {
  /*****
    TODO: Remove magic numbers to allow game board to be more responsive.
    Current values are set so everything is easily divisible by 3.
  */
  --board-height: 522px;
  --board-width: 522px;

  --cell-height: 174px;
  --cell-width: 174px;
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 0.67em;
}

h2 {
  font-size: 1.5rem;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h1,
h2,
h3 {
  font-weight: bold;
}

#title {
  margin-bottom: 0;
}

#player-display {
  margin-bottom: 0;
}

#container {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
  width: 100vw;
}

#game-board {
  /* border: 1px solid black; */
  height: var(--board-height);
  width: var(--board-width);
}

#player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 125px;
}

#btn-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;
  width: 100vw;
}

#start-btn {
  height: 150px;
  width: 300px;
}

.board-square {
  border: 1px solid blue;
  box-sizing: border-box;
  display: inline-block;

  height: var(--cell-height);
  width: var(--cell-width);
}

.sq-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10rem;
  height: 100%;
  width: 100%;
}

.invisible {
  display: none !important;
}
